@import '../../../styles/variables';

.action-buttons {
    display: grid;
    grid-gap: 6 * $space;
    grid-template-columns: repeat(6, 32px);
    grid-template-rows: repeat(2, 32px);

    &__button {
        width: 42px;
        height: 42px;
        padding: 0;
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
    .action-buttons {
        grid-template-columns: repeat(12, 32px);
        grid-template-rows: repeat(1, 32px);
    }
}
