@import '_variables';

// App
.app-container {
    padding: 6 * $space;
    background-color: $white-color;
    border-radius: 2 * $space;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 2 * $space;
    }

    &__score-table {
        margin: 2 * $space 0;
    }

    &__status-text {
        margin-bottom: 2 * $space;
    }

    &__action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4 * $space;
        margin-bottom: 2 * $space;
    }

    &__btn-new-game {
        margin-top: 4 * $space;
        display: flex;
        justify-content: center;
    }
}

// Score-table
.score-table {
    max-width: 600px;
    margin: auto;
}

//frame-item

.score-frames {
    display: flex;
    .score-frames__frame {
    }
}

.frame {
    height: 50px;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &:last-child {
        border-right: 1px solid $border-color;
    }

    .frame__tries {
        display: flex;
    }

    .frame__try {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        text-align: center;

        &:first-child {
            border: none;
        }
    }
}

// Action Buttons

.action-buttons {
    .action-buttons__button {
        margin: 5px;
        width: 32px;
        height: 32px;
        padding: 0;
    }
}
