@import '../../../styles/variables';

.app-container {
    padding: 6 * $space;
    background-color: $white-color;
    border-radius: 2 * $space;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2 * $space;
    }

    &__score-table {
        margin: 2 * $space 0;
    }

    &__status-text {
        margin-bottom: 2 * $space;
        user-select: none;
    }

    &__action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4 * $space;
        margin-bottom: 2 * $space;
    }

    &__bottom_buttons {
        margin-top: 8 * $space;
        display: grid;
        grid-gap: 4 * $space;
        grid-template-columns: repeat(6, 42px);
        grid-template-rows: repeat(1, 42px);
    }

    &__btn-new-game {
        grid-column: 3 / 5;
        grid-row: 1;
    }

    &__btn-undo {
        grid-column: 6 / -1;
        grid-row: 1;
        width: 42px;
        height: 42px;
        padding: 0;
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
    .app-container {
        &__bottom_buttons {
            grid-template-columns: repeat(12, 42px);
        }

        &__btn-new-game {
            grid-column: 6 / 8;
            grid-row: 1;
        }
    
        &__btn-undo {
            grid-column: 12 / -1;
            grid-row: 1;
        }
    }
}
