.main-layout {
    display: flex;
    flex-direction: column;

    &__header{
        height: 300px;
        width: 100%;
        background-image: url('/src/images/header.jpg');
        background-position: center 37.6%;
        background-size: cover;
    }
}