@import '../../../styles/variables';

.main-layout {
    display: flex;
    flex-direction: column;

    &__header {
        display: none;
        height: 300px;
        width: 100%;
        background-image: url('./header.jpg');
        background-position: center 37.6%;
        background-size: cover;
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
    .main-layout {
        &__header {
            display: block;
        }
    }
}
