@import '../../../styles/variables';

.frame {
    height: 100%;
    display: flex;
    flex-direction: column;

    &_highligted {
        box-shadow: 0 0 10px #9ecaed;
        // todo add animation
    }

    &__tries {
        display: flex;
    }

    &__try {
        height: 30px;
        width: 60px;
        line-height: 30px;
        font-size: 14px;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        text-align: center;

        &:first-child {
            border: none;
        }
    }

    &__score {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__spare {
        font-weight: bold;
    }

    &__strike {
        font-weight: bold;
    }

    &__total-score {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $black-color;
    }
}
