@import '../../../styles/variables';

.score-table {
    max-width: 768px;
    margin: auto;

    &__score-frames {
        display: grid;
        grid-gap: 2 * $space;
        grid-template-columns: repeat(6, 60px);
        grid-template-rows: repeat(2, 60px);
    }

    &__frame {
        border: 1px solid $border-color;
    }

    &__total-score-frame {
        border: 1px solid $border-color;
        background-color: $gray-color;
        grid-column: 6;
        grid-row: 1 / -1;
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
    .score-table {
        &__score-frames {
            grid-template-columns: repeat(11, 60px);
            grid-template-rows: 60px;
        }

        &__total-score-frame {
            grid-column: unset;
            grid-row: unset;
        }
    }
}
